@model RiotApiApp.Viewmodels.MatchListViewModel
@{
    ViewBag.Title = "Home Page";
}

<div>
    <input type="text" name="summonerName" placeholder="Summoner Name" />
    <table class="table table-hover">
        <thead>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>KDA</th>
            <th>Minions Killed</th>
            <th>Game Time</th>
            <th>Win/Loss</th>
        </thead>
        <tbody>
            @foreach (var participant in Model.MatchParticipants){
                <tr>
                    <td>@participant.Stats.Kills</td>
                    <td>@participant.Stats.Deaths</td>
                    <td>@participant.Stats.Assists</td>
                    <td>@participant.Stats.KDA</td>
                    <td>@participant.Stats.TotalMinionsKilled</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
<script>

</script>
}